<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DULICHEntities" connectionString="metadata=res://*/TourDLEntiTy.csdl|res://*/TourDLEntiTy.ssdl|res://*/TourDLEntiTy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHTHU;initial catalog=DULICH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DULICHEntities1" connectionString="metadata=res://*/TourDuLich.csdl|res://*/TourDuLich.ssdl|res://*/TourDuLich.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHTHU;initial catalog=DULICH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DULICHEntities2" connectionString="metadata=res://*/Tour_DL.csdl|res://*/Tour_DL.ssdl|res://*/Tour_DL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHTHU;initial catalog=DULICH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DULICHEntitie" connectionString="metadata=res://*/TourDuLich123.csdl|res://*/TourDuLich123.ssdl|res://*/TourDuLich123.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHTHU;initial catalog=DULICH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DULICHEntitiess" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHTHU;initial catalog=DULICH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DULICHEntiti" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANHTHU;initial catalog=DULICH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>